/*//META{"name":"Nigga Mode","description":"Powered and Fueled by the Tears of Generations","author":"Raspberry Node","version":"1.11", "website":""}*//**/

/* Raspberry Node, Snippy Edition ;) */


@import url('https://raw.githack.com/raspberrynode/engine/master/niggamode.css');




:root {
--mainC1: #1d1d1d;
--mainC2: #464646;
--mainC3: #2d2d2d;
}

:root {
--darkC0: #171717;
--darkC1: #1d1d1d;
--darkC2: #212121;
--darkC3: #282828;
--whiteC0: #fff;
--whiteC1: #e7e7e7;
--whiteC2: #e0e0e0;
--whiteC3: #8d8d8d;
}
:root {
--radius1: 3px;
--shadow1: 0px 15px 35px -25px var(--mainC1);
--shadow2: 4px 6px 35px -10px var(--mainC2);
--gradient1: linear-gradient(140deg, var(--mainC1) 10%, var(--mainC2) 75%);
--gradient2: linear-gradient(140deg, var(--mainC2) 0%, var(--mainC3) 75%);
}
:root {
--mainC1: #ee2a11;
--mainC2: #FF3C38;
--mainC3: #FF8C42;
}

*::-webkit-scrollbar-track, .scrollable::-webkit-scrollbar-track {
    background-color: var(--darkC3) !important;
    border-radius: 0 !important
}

*::-webkit-scrollbar, .scrollable::-webkit-scrollbar {
    width: 10px !important;
    background-color: var(--darkC2) !important
}

*::-webkit-scrollbar-thumb, .scrollable::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    background-color: var(--mainC2) !important;
    box-shadow: 0px 10px 10px -4px var(--mainC2) !important
}

